@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="font-family: 'Edwardian Script ITC'">
    <h1 class="display-4">Welcome to <br /> ~The Art Gallery~</h1>
    <br />
    <img src="Images/le artiste.jpg" width="200" height="300" style='border:5px solid #000000' />
    <br /><br />
    <p style="font-family: Lucida Handwriting">It is our utmost interest to preserve <br />all manner of art, and we implore you to<br /> submit any art you may wish us to preserve.</a>.</p>
</div>
